.filterContainer {
  display: flex;
  align-items: center;
}

.packagesContainer {
  display: flex;
  font-size: 14px;
}
.Packeges {
  background-color: #e8e8e8;
  border: none;
  border-radius: 50%;
  margin-left: 20px;
  padding: 10px;
  height: 40px;
}

@media only screen and (max-width: 550px) {
  .filterContainer {
    padding-top: 15px;
  }
}
